.Parent {
    /* background-color: black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Child {
    width: 150px;
    height: 150px;
    background-color: red;
    border: 1px solid white;
    padding: 20px;
    transition: background-color 2s ease-in-out, padding 2s ease-in-out, border-radius 1s ease-in-out;
    transition: transform 2s ease-in-out;
    /* animation: selva 5s ease-in-out 1; */
}

.Child:hover {
    background-color: green;
    border-radius: 30px;

    transform:scale(0.5) translateY(500px) translateX(500px)

}
/* 
@keyframes selva {
    0% {
        transform: translateX(500px) scale(5);
        background-color: green;
    }

    25% {
        transform: translateX(-500px);
    }

    50% {
        transform: translateX(-500px) translateY(-300px) scale(4);
    }

    75% {
        transform: translateY(-300px);

    }
    100%{
        transform: translateX(0px);
    }

} */