.parent{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    
}

.child{
    animation: star 3s ease-in-out 1;
}
img{
    height: 100px;
    width: 100px;
}

@keyframes star {
    0% {
        transform: translateY(220px) translateX(570px);
    }
    15%{
        transform: translateY(-230px);
    }
    30%{
        transform: translateY(220px) translateX(-570px);
    }
    45%{
        transform: translateX(560px);
    }
    60%{
        transform: translateX(-560px);
    
    }
    75%{
        transform: translateY(220px) translateX(570px);
    }
    90%{
        transform: translateX(0px);
    }
}

